# Python
__pycache__/
*.pyc
*.pyo

# Logs
pv_server.log
weasyprint_check_error.log

# Portable folders (stored in OneDrive)
PythonPortable/
GTK3-Runtime/
PortableGit/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
